{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicons -->
    <link href="{%static 'images/Rena_transparent.png'%}" rel="icon">
    <!-- google web font css -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-L2lhfg8jIZfjwA7ERsdjTcf+/T0pXpfZ+K3SqHdlS4kKpTdEaWr0cfD/JNJrXEJbpEyKPLso+uP0wulKKjsEMw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    
	<!-- stylesheet css -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/nivo-lightbox.css' %}">
	<link rel="stylesheet" href="{% static 'css/nivo_themes/default/default.css' %}">
	<link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">

	
    <title>Rena</title>



</head>

<body>
<!-- navigation -->

	<div class="container">
		<div class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<a href="{% url 'index' %}" class="{% if request.path == '/' %}active{% endif %}" class="navbar-brand"><img src="{%static 'images/Rena2.png'%}" class="img-responsive" alt="logo"></a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="{% url 'index' %}" class="{% if request.path == '/' %}active{% endif %}">HOME</a></li>
				<li><a href="{% url 'mens' %}" class="{% if request.path == '/mens/' %}active{% endif %}">MENS WEAR</a></li>
				<li><a href="{% url 'ladies' %}" class="{% if request.path == '/ladies/' %}active{% endif %}">LADIES</a></li>
				<li><a href="{% url 'studio' %}" class="{% if request.path == '/studio/' %}active{% endif %}">FASHION STUDIO</a></li>
				<li><a href="{% url 'contact' %}" class="{% if request.path == '/contact/' %}active{% endif %}">CONTACT</a></li>
			</ul>

		</div>
	</div>
</div>		
<!-- end navigation -->

    {% block content %}
    
    {% endblock %}
    <!-- footer section -->
<footer>
	<div class="container">
		<div class="row">
        
			<div class="col-md-5 col-sm-4">
				<img src="{%static 'images/Rena2.png'%}" class="img-responsive" alt="logo">
				<p>Where Every Garment Tells Your Story </p>
                <p>Personalized Fashion, Crafted with Care</p>
				<p><i class="fa fa-phone"></i> 02074343656</p>
				<p><i class="fa fa-envelope-o"></i> info@reanlondon.com</p>
              <p><i class="fa fa-globe"></i> <a href="https://www.reanlondon.com/">www.reanlondon.com</a></p>
			</div>

            <div class="col-md-3 col-sm-4">
                <h3>Explore Rena London</h3>
                <p><a href="#">Custom Tailoring</a></p>
                <p><a href="#">Bespoke Collections</a></p>
                <p><a href="#">Fashion Tips</a></p>
                <p><a href="#">Our Story</a></p>
            </div>

            
			<div class="col-md-4 col-sm-4 newsletter">
				<h3>Contact Us</h3>
				<p>Contact us today to discover more and schedule your personalized fitting experience.</p>
				<div class="input-group">
           	    	<form action="#" method="post">
                        <input name="email" type="email" placeholder="Enter your email" class="form-control" autorequired>
                    	<button type="submit" name="submit" class="btn email">Submit</button>
                  	</form>
				 </div>
			</div>
            
		</div>
	</div>
</footer>

<!-- copyright section -->
<div class="copyright">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<p>Copyright © 2024 Exxotelis <a href="https://www.exxotelis.com" target="_parent">By Vorin</a></p>
			</div>
			<div class="col-md-6 col-sm-6">
				<ul class="social-icons">
					<li><a href="#" class="fa fa-facebook"></a></li>
					<li><a href="#" class="fa fa-twitter"></a></li>
					<li><a href="#" class="fa fa-dribbble"></a></li>
					<li><a href="#" class="fa fa-pinterest"></a></li>
					<li><a href="#" class="fa fa-envelope-o"></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>


<!-- javascript js -->    
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>   
<script src="{% static 'js/nivo-lightbox.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>

</body>
</html>
